.header{
    width: 1230px;
    height: 15%;
    margin: 1rem;
    border-radius: 16px;
    display: flex ;
    flex-direction: row;
    justify-items: flex-start;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: aliceblue;
    position: relative;
}
.nav{
    display: flex ;
    flex-direction: row;
    align-items: center;
}
.Logo{
    height: 60px;
    width: 60px;
    margin: 5px;
}
.buttonh{
    width: 200px;
    right: 2%;
    position: absolute;
    border-radius: 35px;
    border: 0px solid ;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: aliceblue;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.buttonh:hover{
    color: black;
    background-color: aliceblue;
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.controls{
    margin-right: 5%;
    width: 250px;
}