body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100vh;
  background-image: url("./assets/bbg_dd.png");
}


.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 450px;
}

.header ul li {
  margin: 0 1rem;
}

.header ul li a {
  color: white;
  text-decoration: none;
}

.header ul li h3{
  text-decoration: none;
  font-weight: 100;
}


.main{
  display: flex;
  flex-direction: row;
}

/* HomePage.css */

