body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100vh;
  background-image: url("./assets/bbg_dd.png");
}


.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header ul li {
  margin: 0 1rem;
}

.header ul li a {
  color: white;
  text-decoration: none;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0%;
  position: relative;
}
.main{
  display: flex;
  flex-direction: row;
}
.home-page, .processing-page, .profile-page {
  padding: 2rem;
  text-align: center;
}
/* HomePage.css */

